//=== CONTENT ===========================================
//
// _VARS
// _MIXINS
//
//=======================================================



//
// Variables
// --------------------------------------------------

$color--black: #000
$color--black-background: #202020
$color--black-opacity: rgba($color--black, .4)
$color--white: #fff
$color--text: #e9ecec
$color--primary: #00a6e0
$color--glow: #b2ebff
$color--secondary: #fb761c

$gutter-l: 60px
$max-layout: 992px

$font-path: '../fonts/museosans-300-webfont'



//
// Mixins
// --------------------------------------------------


//Media Queries

@mixin breakpoint($point)

  @if $point == medium-desktop
    @media only screen and (max-width: 1280px)
      @content

  @else if $point == large-desktop
    @media only screen and (min-width: 1520px)
      @content


  @else if $point == desktop
    @media only screen and (min-width: 1025px)
      @content

  @else if $point == tablet-h
    @media (max-width: 1024px)
      @content

  @else if $point == tablet-v
    @media (max-width: 768px)
      @content

  @else if $point == mobile
    @media (max-width: 480px)
      @content


  @else if $point == small-mobile
    @media (max-width: 320px)
      @content
